<ion-view id="search-container">
  <ion-nav-title >
      Search Recipies
    </ion-nav-title>
  <ion-nav-buttons side="right">
    <a ui-sref="results">
      <button class="button button-icon ion-arrow-right-c"></button>
    </a>
  </ion-nav-buttons>

  <!-- just began implementing ng-repeat, finish then move to controller -->

  <ion-content>
    <ion-list>
      <ion-item ng-repeat="ingredient in ingredients">
        <ion-label primary>Inline Label</ion-label>
        <ion-input placeholder="Text Input"></ion-input>
        <!-- <button ng-click="addIngredient()" class="button button-icon ion-plus-round"></button> -->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
